:root {
	--color-iris: #4d5ae5;
	--color-ocean: #404bbf;
	--color-navy-blue: #2e2f42;
	--color-green: #31d0aa;
	--color-slate: #434455;
	--color-light-slate: #8e8f99;
	--color-cornflower: #e7e9fc;
	--color-cloud: #f4f4fd;
	--color-navy-blue-modal: #2e2f42;
	--color-grey: #2e2f42;
	--color-white: #ffffff;
	--color-dairy: #fcfcfc;
}

 




  


 


body{
    color:#434455  ;
    background-color:#FFFFFF ;
  font-size: 16px;
    font-family: "Roboto",sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    text-transform: none;
}
  
/**
  |============================
  | General classes
  |============================
*/
.section{

}

.list{
list-style: none;

}

.link
{
    text-decoration: none;
}
.header-contact:hover{
    background-color: azure; }  
.header-contact:focus{
background-color:azure;}




/**
  |============================
  | Header section
  |============================
*/

.header {
    

}
.header-nav {
}
.logotype {
 font-family:"Raleway",sans-serif;
font-weight: 800; 
font-size: 18px;
letter-spacing: 0.03em;
line-height: 1.17;
text-transform: uppercase;
color: #4d5ae5;
}
.studio{
color:#2e2f42;
}

.link{
    font-weight: 500;
    color: #434455;
    text-decoration: none;
}

.link:hover {color:#404bbf ;
 }   
.link:focus{
    color:#404bbf ;
}

.meny-title {
}



.link {
}
.menu-list {
}
.list {
}

.adres {font-style: normal;
}
.list-adres {
}
.header-contact {
}
/**
  |============================
  | sektion1
  |============================
*/
.section-one {
 background-color:#2e2f42 ;
}
.mein-title {
    text-align: center;
    font-size: 56px;
	font-family: "Roboto";
	font-weight: 700;
	font-style: normal;
	line-height: 1.07;
	letter-spacing: 0.02em;
    color: #ffffff;
}

.section-one-btn
 {
    background-color:#4d5ae5;
    font-size: 16px;
	font-family: "Roboto",sans-serif;
	font-weight: 500;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: 0.04em;
    color: #ffffff;    
     
}
.section-one-btn:hover{
    background-color:#404bbf; 
}
.section-one-btn:focus{
    background-color:#404bbf;
}
.section-one-btn{
    cursor: pointer;
}



/**
  |============================
  | section-two
  |============================
*/
.section-two {
    background-color:#2e2f42;
   
}

.meny-list {
}

.meny-title {
}

.desc {
    color: -- #434455;
}
.title {
    font-size: 20px;
	font-family: "Roboto";
	font-weight: 500;
	line-height: 1.2;
	letter-spacing: 0.02em;
    color: #2e2f42;
}

/**
  |============================
  | section-3
  |============================
*/
.section-three {
    
}
.title-thre {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
text-transform: capitalize;
color: #2e2f42;
}
.menu-list {
}
.list {
}
.meny-title {
}
.sec-three-img {
}
/**
  |============================
  | section-4
  |============================
*/
.section-four {
    background-color: #F4F4FD;
}
.title-four{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:#2e2f42;
}
.meny-list {
    background-color: #FFFFFF;
}
.title-four-two{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 00.02em;
}
.list {
   

}
.meny-title {
}
.sec-four-img {
}

.desc {
    font-size: 16px;
    color: --#434455 ;
}
/**
  |============================
  | futer section
  |============================
*/
.futer {
    background-color:#2e2f42 ;

}
.futer-logo {
    font-family:"Raleway",sans-serif;
    font-weight: 800;
font-size: 18px;
letter-spacing: 0.03em;
line-height: 1.17;
text-transform: uppercase;
background-color: #2e2f42;
color:#4d5ae5 ;
}  

.link {
}
.desc {
}
.stu-dio{
    color:#f4f4fd ;
}

/**
  |============================
  | portfolio header
  |============================
*/
.port-header {
}
.logotype {
    font-weight: 800;
    color: #4d5ae5;
}
.linc-stu{
    font-weight: 500;
    color: #2e2f42;

}
.link {
    text-decoration: none;
}

.link:hover {color:#404bbf ;
 }   
.link:focus{
    color:#404bbf ;
}


.studio {
    color: #2e2f42 ;
}
.address{
    font-style: normal;
}
.contact{
    color: #434455 ;
   text-decoration: none; 
}
.contact:hover{
    color: #404bbf ;
}
.menu-list {
}
.list {
}
.meny-title {
}
/**
  |============================
  | Main
  |============================
*/
.btn{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color:#4d5ae5 ;
    background-color: #F4F4FD ;
cursor: pointer;
}
.btn:hover{color: #FFFFFF;
    background-color:#404BBF ;
    
}
.btn:focus{
    color: #FFFFFF;
    background-color:#404BBF ;

}
.list{
    list-style: none;
}
.link{
    text-decoration: none;
}
.title-main{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42 ;
}
.desc-app{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}
/**
  |============================
  | futer-portfolio
  |============================
*/
.footer-portf {
    background-color:#2e2f42 ;

}
.logo-futer {
    font-family: 'Raleway',sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 00.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.link {
    text-decoration: none;
}
.stud-fut {
    color: #f4f4fd;
}
.desc-fut {
}